* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: absolute;
    background-color: bisque;
    width: 60%;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
}

.table {
    background-color: darkgrey;
    width: 50%;
}

.table_label {
    height: 16%;
    display: flex;
    /*height: 120px;*/
    flex-wrap: wrap;
    align-items: flex-end;
}

.logo h4 {
    text-align: center;
}

.columns_labels {
    color: rgba(0,0,0, 0.5);
    display: flex;
    flex:1;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 80px;
}

.admin_form {
    width: 50%;
    height: 100%;
    background-color: dimgray;
}

.customer_info_wrapper {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 1.5em;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
}
.customers {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 80%;
    overflow: scroll;
}

/* login form for admin access */

.login_wrapper {
    position: absolute;
    width: 195px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login_label {
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
    color: rgba(0,0,0, 0.5);
    font-size: 40px;
}

#logout {
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, 0%);
    color: rgba(0,0,0, 0.5);
    font-size: 20px;
}

.logo {
    flex: 100%;
    font-weight: bolder;
    color: rgba(0,0,0, 0.5);
    font-size: 40px;
}

.admin_form {
position: relative;
}

.btn_wrapper {
    display: flex;
    justify-content: space-between;
}

.btn_submit {
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: solid white 1px;
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.btn_facebook {
    border-color: 	#3b5998;
    color: 	azure;
    background-color: #3b5998;
}

.menu_wrapper {
    width:70%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.customer_first_name, .customer_last_name, .customer_phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.customer_first_name input, .customer_last_name input, .customer_phone input {
    margin: 0;
}

.customer_first_name > p, .customer_last_name > p, .customer_phone > p {
    color: white;
    font-size: 20px;
}

button:focus {
    outline: none;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns > button {
    width: 80px;
    padding:5px;
    border: solid 1px white;
    color: white;
    border-radius: 10px;
    background-color: inherit;
    cursor: pointer;
}

input {
     width: 175px;
    border: none;
    padding: 8px 10px;
    margin-top: 15px;
    border-radius: 10px;
    /*margin-bottom: 5px;*/
}

input:focus {
    outline: none;
}

.checked {
    background-color: dimgray !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}