<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/authenticate_admin.js"></script>
    <script src="/script.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="table">
        <div class="table_label">Blacklist</div>
        <div class="customers">
            <div class="customer_info_wrapper">

                <div class="customer_name">
                    <p>Tom Berton</p>
                </div>
                <div class="customer_phone">
                    <p>(059) 384 34 61</p>
                </div>
            </div>
            <div class="customer_info_wrapper">
                <div class="customer_name">
                    <p>Tom Berton</p>
                </div>
                <div class="customer_phone">
                    <p>(059) 384 34 61</p>
                </div>
            </div>
            <div class="customer_info_wrapper">
                <div class="customer_name">
                    <p>Tom Berton</p>
                </div>
                <div class="customer_phone">
                    <p>(059) 384 34 61</p>
                </div>
            </div>
            <div class="customer_info_wrapper">
                <div class="customer_name">
                    <p>Tom Berton</p>
                </div>
                <div class="customer_phone">
                    <p>(059) 384 34 61</p>
                </div>
            </div>
        </div>

    </div>
    <div class="admin_form">
        <div class="login_label">Admin</div>
        <div class="menu_wrapper">
            <div class="customer_first_name">
                <p>First name</p>
                <input id="first_name_input" autocomplete="off" type="text" placeholder="First name">
            </div>
            <div class="customer_last_name">
                 <p>Last name</p>
                <input id="last_name_input" autocomplete="off" type="text" placeholder="Last name">
            </div>
            <div class="customer_phone">
                 <p>Phone</p>
                <input id="phone_input" autocomplete="off" type="tel" placeholder="Phone number">
            </div>
            <div class="btns">
                <button class="add_customer">
                    add
                </button>
                <button class="change_customer">
                    change
                </button>
                <button class="delete_customer">
                    delete
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>