<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/authenticate_admin.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="table">
        <div class="table_label">Blacklist</div>
        <div class="customers">
        <div class="customer_info_wrapper" th:each="user : ${list}" th:attr="data-id=${user.id}"  >
            <div class="customer_name">
                <span class="first_name" th:text="${user.firstName} + ' '"></span>
                <span class="last_name" th:text="${user.lastName}"></span>
            </div>
            <div class="customer_phone" >
                <p class="phone" th:text="${user.phoneNumber}"></p>
            </div>
        </div>
        </div>
    </div>
    <div class="admin_form">
        <div class="login_label">Blacklist</div>
        <div class="login_wrapper">
            <input id="login_input" autocomplete="off" type="text"  placeholder="login">
            <input id="password_input" autocomplete="off" type="password" placeholder="password">
            <div class="btn_wrapper">
                <button class="btn_submit" onclick="login()">log in</button>
                <button class="btn_submit btn_facebook">log in with Facebook</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>